In [37]:
import sqlite3

conn = sqlite3.connect('world.db')
type(conn)

cursor = conn.cursor()

In [30]:
cursor.execute("create table samsung(date text, open int, high int, low int, closing int, volumn int)")

In [32]:
cursor.execute("insert into samsung values('20.07.08',55800,55900,53400,55000,357)")
cursor.execute("insert into samsung values('20.07.07',55800,55900,53400,55000,357)")

In [38]:
for i in cursor.execute("select * from samsung"):
    print(f'{i[0]} {i[1]}')

20.07.08 55800
20.07.07 55800

In [23]:
conn.rollback()

In [34]:
conn.commit()

In [25]:
cursor.execute("drop table samsung")

In [35]:
conn.close()