<a href="https://colab.research.google.com/github/limjun92/limjun92.github.io/blob/master/_data/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import pandas as pd

In [0]:
url2 = "https://8oi9s0nnth.apigw.ntruss.com/corona19-masks/v1/sales/json?page=1"
res = requests.get(url2)
text = res.text
corona19_mask = json.loads(text)

# print(json.dumps(corona19_mask,indent=4,sort_keys = True))

In [22]:
corona19_mask_list = []
for i in corona19_mask['sales']:
  corona19_mask_list.append([i['created_at'],i['code'],i['remain_stat']])
corona19_mask_dataframe = pd.DataFrame(corona19_mask_list)

corona19_mask_dataframe.head(10)

                     0         1       2
0  2020/06/08 14:55:00  31837492  plenty
1  2020/06/08 15:00:00  21836841  plenty
2  2020/06/08 15:00:00  37839128    some
3  2020/06/08 15:00:00  11831049    some
4  2020/06/08 15:00:00  21839271  plenty
5  2020/06/08 15:00:00  11823283  plenty
6  2020/06/08 15:00:00  41826051  plenty
7  2020/06/08 15:00:00  21801541  plenty
8  2020/06/08 14:55:00  12824151  plenty
9  2020/06/07 23:55:00  38824060  plenty