In [2]:
import sqlite3

conn = sqlite3.connect('world.db')

cursor = conn.cursor()

In [30]:
cursor.execute("create table samsung(date text, open int, high int, low int, closing int, volumn int)")

In [18]:
cursor.execute("insert into samsung values('20.07.08',55800,55900,53400,55000,357)")
cursor.execute("insert into samsung values('20.07.07',55800,55900,53400,55000,357)")

In [16]:
for i in cursor.execute("select * from samsung"):
    print(f'{i[0]} {i[1]}')

20.07.08 55800
20.07.07 55800
20.07.08 55800
20.07.07 55800

In [23]:
conn.rollback()

In [34]:
conn.commit()

In [25]:
cursor.execute("drop table samsung")

In [35]:
conn.close()

In [10]:
# sqlite()에 있는 데이터를 pandas의 DataFrame형식으로 가지고 오기

cursor.execute("SELECT * FROM samsung")

In [11]:
rows = cursor.fetchall()
print(rows)

[('20.07.08', 55800, 55900, 53400, 55000, 357), ('20.07.07', 55800, 55900, 53400, 55000, 357), ('20.07.08', 55800, 55900, 53400, 55000, 357), ('20.07.07', 55800, 55900, 53400, 55000, 357)]

In [17]:
cols = [column[0] for column in cursor.description]

In [14]:
import pandas as pd
data_df = pd.DataFrame.from_records(data=rows, columns=cols)

In [15]:
print(data_df)

       date   open   high    low  closing  volumn
0  20.07.08  55800  55900  53400    55000     357
1  20.07.07  55800  55900  53400    55000     357
2  20.07.08  55800  55900  53400    55000     357
3  20.07.07  55800  55900  53400    55000     357